

header, footer {
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  text-align: center;
}

footer {
  margin-top: auto;
}

p {
  color: #333;
  font-size: 1.1rem;
  text-align: center;
}

.App {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.items{
  display: box;
  width: 100%;
  border:10px solid blue;
  border-radius: 50px;
  background-color: aqua;
}
.items button{
  color: rgba(255, 0, 0, 0.623);
  cursor: pointer;
}
.items button.hover{
  color: beige;
}